/*!
 * /r/Toontown CSS Theme
 *
 * Version: 0.1.0
 * Last Modified: 07/28/2026
 * Author: Joey Ziolkowski, Alexander Turner
 */

@import 'variables';

/*
 * ADDONS
 * Official Addons from https://github.com/Axel--/Naut-for-reddit/tree/master/Addons
 */

/* Addon: Large Header */
#header{height:294px}
#header-bottom-left,body:not(.search-page) .side:before{top:198px}
body:not(.search-page) .side .titlebox h1.redditname{top:406px}
body:not(.search-page) .titlebox span.subscribers{top:432px}
body:not(.search-page) .titlebox .fancy-toggle-button{top:412px}
#search{top:482px}
body:not(.search-page) .morelink{top:540px}
.comments-page .side .linkinfo{top:392px}
/* End Addon */

/* Addon: Custom Subreddit Title */
/* This is the one in the header */
#header .pagename a {
    height: 192px;
    width: 670px;
    background-image: url(%%headerimg%%);
    background-repeat: no-repeat;
    background-size: auto 172px;
    text-indent: -9999px;
    margin-left: 70px;
    margin-top: -190px;
    transition: 300ms ease;
}
.pagename a:hover {
    text-decoration: none;
    opacity: 0.60;
}
/* End Addon */


/*
 * CUSTOM CSS
 * Custom CSS written specifically for this theme.
 */

html {
    min-width: 800px;
    overflow: auto;
}

body {
    background: $body-background url(%%footer%%) no-repeat scroll top center;
    background-size: 75%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 32px;
    position: relative;
    min-width: 1140px;

    @media (min-width: $breakpoint-medium) {
        padding: 0 64px;
    }

    @media (min-width: $breakpoint-large) {
        padding: 0 128px;
    }
}

a {
    color: $link-color;
    transition: unset;
}

a:hover {
    color: #363636;
}

input[type="text"], select, #search input[type=text]:focus:hover {
    border-radius: 15px !important;
    box-shadow: 3px 3px inset #b2b2b2, -1px -1px inset #b2b2b2 !important;
    border: 0 !important;
}

select {
    margin-left: 10px;
    padding: 4px;
}

#header {
    background: transparent;
    box-shadow: unset;
    height: unset;
}

#header .pagename a {
    background-size: auto 140px;
    height: 140px;
    margin-left: -75px;
    margin-top: -46px;
    transition: unset;
    width: 303px;
}

.pagename a:hover {
    opacity: unset;
}

#header .tabmenu {
    height: 60px;
    line-height: 0;
    margin-left: 270px;
    margin-top: -100px;
}

#header .tabmenu:before {
    background: #fff;
    border-bottom: 5px solid #b2b2b2;
    border-top: 2px solid #d1d1d1;
    height: 60px;
    left: 0;
    right: -250px;
}

#header .tabmenu li a, .titlebox span.subscribers, .titlebox:before, .search-result-listing:before, .comments-page .commentarea .panestack-title .title, .side #moderation_tools .title:before, .sidecontentbox .message-button:before, .sidecontentbox .gadget:before {
    color: #fff;
    font-weight: bold;
    text-shadow: 3px 3px 0 #1d1d1d, 3px 2px 0 #1d1d1d, 3px 1px 0 #1d1d1d, 3px 0px 0 #1d1d1d, 2px 3px 0 #1d1d1d, 1px 3px 0 #1d1d1d, 0px 3px 0 #1d1d1d, -1px -1px 0 #1d1d1d, -1px 0px 0 #1d1d1d, 0px -1px 0 #1d1d1d, 1px -1px 0 #1d1d1d, 1px -1px 0 #1d1d1d, -1px 1px 0 #1d1d1d;
}

#header .tabmenu li a {
    border-radius: 3px / 30px;
    color: #fce21e;
    font-size: 20px;
    font-weight: bold;
    margin: 1px 1px 0;
    padding: 10px 16px 11px !important;
    text-transform: capitalize;

    @media (max-width: $breakpoint-medium) {
        display: none;
    }
}

#header .tabmenu li.selected a, #header .tabmenu li a:hover {
    background: $button-background;
    border-bottom: 0;
    color: #fff;
}

#header-bottom-left {
    top: 78px;
}

#header-bottom-right, .res #header-bottom-right {
    height: 48px;
    padding: 12px;
    top: 0;
}


body[class]>.content, body.listing-page[class]>.content {
    background: #b1e1f580 !important;
    margin: 0;
    padding: 145px 384px 64px 32px;
}

body.listing-page>.content>.sitetable, body.other-discussions-page>.content, .comments-page .comment-visits-box, .commentarea>.sitetable>.comment, .comments-page .side .linkinfo, #bottom-comments:not(.child)>.sitetable>.comment, #images, .sponsorshipbox, .stylesheet-customize-container .pretty-form, .side .sidecontentbox, .side .titlebox, .side:after, #previoussearch #moresearchinfo, #ad-frame, #ad_main, .wiki-page .wiki-page-content, .linefield, .submit-page .roundfield, .login-form-side, #ad_main_top, .search-page .searchpane, .search-result-subreddit, .search-result-listing, .search-result-listing+.search-result-listing .contents, [class] .searchfacets, .side .titlebox h1.redditname:before, .account-activity-box, .subreddit-rules-page, #siteTable {
    border-radius: 10px;
    border: 2px solid #D4D4D4;
    background: #FFF;
    box-shadow: unset;
}

#header-img.default-header, #header-img {
    background-color: #015bb4;
    margin: -74px 0 0 -10px;
    transform: scale(0.75);
}

#sr-header-area {
    background: #015bb4;
    font-size: unset;
    font-weight: bold;
    height: 48px;
    margin-top: 64px;
    transition: unset;
}

#sr-header-area .redesign-beta-optin {
    display: none;
}

#srLeftContainer {
    margin-left: 55px;
}

#sr-header-area .sr-bar a, #sr-more-link, #sr-header-area .dropdown.srdrop .selected {
    color: #fff !important;
    line-height: 48px;
    text-decoration: none;
    transition: unset !important;

    @media (max-width: $breakpoint-medium) {
        display: none;
    }
}

#sr-header-area .sr-bar a {
    padding: 24px 9px 24px;
    font-weight: normal;
}

#sr-more-link, #sr-header-area .dropdown.srdrop .selected {
    padding: 0px 9px 0px;
    margin-right: 0;
    font-weight: bold;
}

#sr-header-area .dropdown.srdrop {
    padding-left: 46px;
}

#sr-header-area .drop-choices.srdrop.inuse  {
    top: 48px !important;
    left: 48px !important;
}

#sr-header-area .drop-choices a.choice {
    color: #777 !important;
}

#sr-header-area .drop-choices a.choice:hover {
    color: black !important;
}

#sr-header-area .separator {
    display: none;
}

#sr-header-area .sr-bar a:hover, #sr-more-link:hover, #sr-header-area .dropdown.srdrop .selected:hover {
    background: $header-background-hover;
}

.morelink, .create .morelink, .c-btn-primary, .usertext-buttons button, .comments-page .comment-visits-box a, .wiki-page .wiki-page-content .wiki_button, body .btn a, .account-activity-box a, .titlebox .md h6 a {
    background: $button-background;
    border: $button-border;
    border-color: $button-border-color;
    border-radius: $button-border-radius;
    box-shadow: $button-shadow !important;
    color: $button-text-color;
    font-weight: bold;
    line-height: 32px;
    transition: unset;
    z-index: 100;
}

.morelink:hover, .btn:hover, .c-btn-primary:hover, .usertext-buttons button:hover, .comments-page .comment-visits-box a:hover, .wiki-page .wiki-page-content .wiki_button, body .btn a:hover, button:hover, .account-activity-box a:hover, .titlebox .md h6 a:hover {
    background: $button-background-hover;
    border-color: $button-border-color;
    color: $button-text-color-hover;
}

.morelink a {
    color: $button-text-color !important;
    font-weight: bold;
}

.morelink:hover a {
    color: #fff !important;
}

.submit .morelink {
    width: 120px;
}

.sidebox.submit.submit-link .morelink {
    margin-left: 27px;
}

.sidebox.submit.submit-text .morelink {
    margin-left: 174px;
}

.submit-link .morelink:after, .submit-text .morelink:before {
    content: unset;
}

.side:before {
    display: none;
}

.side {
    margin: 282px 32px 108px 0;

    &:before {
        display: none;
    }

    &:after {
        content: "Subreddit CSS Theme created by /u/JoeyZio. Modified by /u/DarkMetal485. Powered by /r/Naut.";
        /* border: 0; */
        color: #292f34;
        font: 13px/1.45 Lato,Arial,sans-serif;
        margin-top: -25px;
        padding: 14px;
    }

    .spacer {
        margin: 0;

        > *:first-child {
            margin: 0 0 50px;
        }

        &:nth-child(-n+3) > *:first-child {
            margin: 0;
        }
    }

    .premium-banner-outer {
        margin-top: 15px;
    }

    .titlebox h1.redditname {
        z-index: 1;

        a {
            display: none;
        }
    }
}

body.search-page .titlebox {
    margin-top: 52px !important;
}

body.search-page .titlebox h1.redditname:before {
    margin-top: -51px;
    height: 130px;
}

.side .titlebox h1.redditname:before {
    margin-top: -149px;
    height: 130px;
}

body.search-page .side .titlebox h1.redditname:before {
    margin-top: -26px;
    height: 80px;
}

body.search-page .sidebox.submit .morelink {
    top: 304px;
}

.sidebox.submit .morelink {
    top: 328px;
}

#search {
    top: 280px;
    z-index: 200;
}

#search input[type=text] {
    height: 32px;
    line-height: 31px;
    margin-left: 27px;
    padding: 0 32px 0 16px;
    width: 266px;
}

#search #searchexpando {
    background: $button-background;
    box-shadow: 5px 5px #b2b2b2, -1px -1px #b2b2b2 !important;
    border-radius: 15px;
    height: auto;
    line-height: 32px;
    margin: 8px 10px;
    padding: 0 16px;
    width: 300px;
}

.res #search #searchexpando label {
    color: $button-text-color;
    font-weight: bold;
    padding: 0;
}

.titlebox span.subscribers, .titlebox .users-online, .titlebox .number {
    margin-left: -55px;
}

.titlebox span.subscribers {
    font-size: 20px;
    top: 65px !important;
}

.titlebox .users-online, .titlebox .number {
    font-style: normal !important;
    position: absolute;
    top: 91px !important;
    width: 200px;
    z-index: 99;
}

.titlebox .users-online .number:after {
    content: " Toons in town";
}

div.titlebox span.number:before {
    content: "Population: ";
}

div.titlebox span.number:after {
    content: unset;
}

.titlebox .fancy-toggle-button {
    position: unset;
    margin-left: unset;
    margin-bottom: 8px;
    width: 100%;
    text-align: center;
}

.titlebox .fancy-toggle-button .option {
    font-size: 12px;
    line-height: 32px;
}

.titlebox .fancy-toggle-button .active.add:active, .titlebox .fancy-toggle-button .option.remove {
    margin: unset;
    padding: unset;
}

.titlebox .md h6 {
    text-align: center;
    text-decoration: none;
}

.titlebox .md h6:first-of-type a {
    background-image: url(%%playnow%%) !important;
    background-color: transparent;
    border: unset;
    border-radius: unset;
    box-shadow: unset !important;
    color: transparent;
    font-size: 0;
    height: 130px;
    position: absolute;
    right: 50px;
    top: 121px;
    width: 256px;

    @media (min-width: $breakpoint-medium) {
        right: 80px;
    }

    @media (min-width: $breakpoint-large) {
        right: 143px;
    }
}

.titlebox .md h6:first-of-type a:hover {
    background-color: transparent !important;
    background-position: -256px -0px !important;
    height: 139px;
    width: 256px;
}

.titlebox .md h6:last-child {
    margin-bottom: 12px;
}

.titlebox .md h6 a {
    padding: 6px 18px;
}

.titlebox .leavemoderator a, .side .titlebox .tagline a.flairselectbtn {
    margin: 0;
    padding: 0;
    position: unset;
}

.titlebox .leavemoderator a::selection, .side .titlebox .tagline a.flairselectbtn::selection {
    background: none;
}
.titlebox .leavemoderator a:hover, .side .titlebox .tagline a.flairselectbtn:hover {
    text-decoration: underline;
}

body.search-page .side .spacer .titlebox {
    margin-top: 20px !important;
}

.loggedin .side .spacer .titlebox, .listing-page .side .spacer .titlebox {
    margin-top: 50px;
    margin-bottom: 50px;
}

.side .spacer .titlebox {
    &:before {
        content: 'Subreddit Info';
        font-size: 24px;
        margin: -50px -20px;
        position: absolute;
    }
}

.side #moderation_tools .title:before, .sidecontentbox .message-button:before, .sidecontentbox .gadget:before {
    position: absolute;
    font-size: 24px;
}

body.search-page #moderation_tools{
    margin-top: 50px;
}

.side #moderation_tools .title:before {
    content: 'Moderation Tools';
    margin: -55px -20px;
}

.side #moderation_tools .title .collapse-button {
    display: none;
}

.sidecontentbox {

    .message-button {
        padding: unset;

        &:before {
            content: 'Moderators';
            margin: -62px -22px;
        }

        a {
            /*
            margin: 50px 0 0 -144px;
            position: absolute;
            */
            width: 288px;
            margin-bottom: 12px;
        }
    }

    .gadget:before {
        content: 'Recently Viewed';
        margin: -60px -20px;
    }

    .title h1 {
        display: none;
    }
}

.sidebox.create {
    height: 0;
    margin: unset !important;

    .morelink {
        display: none;
        /*
        top: 255px !important;
        margin: 16px;
        */
    }
}

.side .spacer .account-activity-box {
    margin-top: -25px;
}

.side .account-activity-box a {
    display: inline-block;
    font-size: 14px;
    width: 100%;
}

.footer-parent {
    background: $body-background url(%%footer%%) no-repeat scroll top center;
    background-size: 75%;
}

.footer-parent:before {
    display: block;
    content: "Are YOU Toon Enough?";
    color: transparent;
    height: 101px;
    width: 100%;
    background-image: url(%%footerimg%%);
    background-repeat: no-repeat;
    background-size: auto 101px;
    background-position: center center;
}

#RESShortcutsViewport, #RESShortcutsEditContainer {
    display: none;
}

.res .srSep {
    display: none;
}

.linkflairlabel {
    margin-left: 6px;
}

.hover-bubble.multi-selector {
    top: 275px !important;
    right: 150px !important;
    z-index: 200;
}

.hover-bubble.anchor-right:before, .hover-bubble.anchor-right:after {
    transform: rotate(-90deg);
    top: -18px;
    right: 75px;
}

.flair:before {
    display: none;
}

.flair {
    color: #FFFFFF;
}

#siteTable .flair {
    margin-left: 4px;
}

.search-page .searchpane {
    height: 105px;
    width: 630px;
    margin-left: auto;
}

.search-page .searchpane #previoussearch #search {
    top: 30px;
    left: 150px;

    label:first-of-type {
        margin-top: -55px;
    }

    label {
        margin-left: 375px;
        width: 250px;
        box-shadow: unset;
        border: 1px solid #d4d4d4;
    }
}

.search-page .searchpane .search-submit-button {
    box-shadow: unset !important;

    &:hover {
        background: rgba(158, 158, 158, .2) url(%%spritesheet%%) -64px -97px no-repeat;
    }
}

.search-page .searchpane #previoussearch #moresearchinfo {
    margin-left: 28px;
    margin-top: -24px;
    width: 320px;
}

.search-page .searchpane #previoussearch #search_showmore {
    background: unset;
    top: 42px;
    left: 30px;
    width: unset;
    font-size: unset;
    color: black;

    &:hover {
        text-decoration: underline;
        color: #2178fd;
    }
}


.search-result-listing:before {
    content: "Search Results";
    font-size: 24px;
    position: absolute;
    margin-top: -36px;
}

.search-result-listing ~ .search-result-listing {
    margin-top: 20px;

    &:before {
        display: none;
    }
}

.search-result-listing {
    margin-top: 50px;
}

.search-result-listing .search-header-label {
    display: none;
}

.search-result-listing .search-result-group-header {
    border-bottom: 2px solid #e5e3da;
}

.search-result-listing .contents {
    border-radius: unset !important;
    border: unset !important;
    background: unset !important;
    box-shadow: unset !important;
}

.listing .search-result-group footer .info {
    margin: 0;
    width: 100%;
    height: 416px;
    background: transparent url(%%noresults%%) no-repeat 50% 50%;
    text-indent: -9999px;
    font-size: 0;
    display: block;
}

#preview-table>table {
    background-color: white;
    width: auto;
}

.subreddit-rules-page {
    max-width: unset;

    &:before {
        top: 12px;
        left: 16px;
    }

    .md-container {
        margin-left: 12px;
    }

    #subreddit-rule-list {
        max-width: unset;
    }
}

.menuarea {
    a {
        color: black;
    }
    
    a:hover {
        color: #2178fd;
        text-decoration: underline;
    }

    .dropdown-title {
        color: black !important;
    }

    .dropdown .selected {
        color: black !important;
        text-transform: uppercase;
        font-weight: bold;
    }

    .dropdown .selected:hover {
        color: #2178fd !important;
        text-decoration: underline;
    }

    .drop-choices a:hover {
        color: black !important;
    }  
}

/* Comments Page */
.comments-page .side .linkinfo{
    top: 410px;
}

.comments-page .side .linkinfo .shortlink {
    visibility: unset;
    margin-top: 8px;

    #shortlink-text {
        font-size: unset;
        margin: unset;
        width: 230px;
        padding: 6px 12px;
    }
}

.comments-page .commentarea .panestack-title {
    padding-left: unset;

    .title {
        text-transform: capitalize;
        font-size: 20px;
    }
}

.comments-page .commentarea .usertext {
    background: unset;

    a {
        color: black;
    }
    
    a:hover {
        color: #2178fd;
        text-decoration: underline;
    }

    textarea {
        background-color: white;
    }
}

.comments-page .commentarea .menuarea {
    margin-top: 6px;
    padding-left: unset;

    a {
        color: black;
    }
    
    a:hover {
        color: #2178fd;
        text-decoration: underline;
    }

    .dropdown-title {
        color: black !important;
    }

    .dropdown .selected {
        color: black !important;
        text-transform: uppercase;
        font-weight: bold;
    }

    .dropdown .selected:hover {
        color: #2178fd !important;
        text-decoration: underline;
    }

    .drop-choices a:hover {
        color: black !important;
    }
}

.comments-page .commentarea .comment-visits-box a {
    line-height: 20px;
}

/*!
 * End of /r/Toontown CSS Theme
 */
